#root {
  min-width: 100dvw;
  min-height: 100dvh;
  position: relative;
  transition: filter 0.3s ease-in-out;
  transition: background 0.4s ease-in-out;
}

a {
  cursor: pointer;
}

#heading{
  font-weight: bolder;
  font-size: 3.5rem;
}

.navbar-brand{
  font-size: 1.8rem;
}

.navbar {
  background: aquamarine !important;
  font-weight: bolder;
  position: sticky;
  top: 0;
}

.active {
  color: red !important;
}

.mb-3 {
  width: 90%;
  margin: 0 auto;
}

#navbarSupportedContent{
  font-size: 1.7rem;
}

#exampleFormControlTextarea1 {
  text-align: justify;
  resize: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bolder;
  font-size: 1.5rem;
  border: 2px solid #d5d5d5;
  transition: background 0.4s ease-in-out;
}

#buttons{
  width: 100%;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#buttons button{
  margin: 5px 0;
  font-size: 1.2rem;
  font-weight: bolder;
}

#lightDarkMode{
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 1.5rem;
  font-weight: bolder;
  transition: background 0.4s ease-in-out;
  z-index: 1;
}

.alert{
  /* width: 30vw; */
  position: fixed;
  left: -220px;
  bottom: 0px;
  animation: slideRight 0.7s ease-in-out, slideLeft 0.7s ease-in-out 1.4s;
  animation-fill-mode: forwards;
}

@keyframes slideRight {
  0%{
    left: -220px;
  }
  50%{
    left: 30px;
  }
  100%{
    left: 10px;
  }
}

@keyframes slideLeft {
  0%{
    left: 10px;
  }
  50%{
    left: 30px;
  }
  100%{
    left: -220px;
  }
}


#about{
  user-select: none !important;
}

p{
  text-align: justify;
  font-size: 1.5rem;
}


#about h1{
  font-weight: bolder;
}

#about p{
  font-size: 1.7rem;
  font-weight: bolder;
}

#about h1{
  font-size: 5rem;
}


@media screen and (max-width: 600px) {
  @keyframes slideLeft {
    0%{
      right: -220px;
    }
    50%{
      right: 30px;
    }
    100%{
      right: 10px;
    }
  }

  @keyframes slideRight {
    0%{
      right: 10px;
    }
    50%{
      right: 30px;
    }
    100%{
      right: -220px;
    }
  }
  .alert{
    position: absolute;
    right: -220px;
    top: 1vh;
    bottom: initial;
    left: initial;
    animation: slideLeft 0.7s ease-in-out, slideRight 0.7s ease-in-out 1.4s;
    animation-fill-mode: forwards;
    width: auto;
  }
  #lightDarkMode{
    font-size: 1rem;
  }

  #about{
    width: 90vw !important;
  }

  p{
    font-size: 1.1rem !important;
  }
}
